* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.titlesection {
    text-align: center;
    margin: 0;
    margin-top: 9%;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

#logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.navsection {
    background-image: url(./photos/mic3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 580px;
    background-position: center;
}

#check {
    display: none;
}

#title {
    font-weight: 900;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    color: ghostwhite;
}

#describtion {
    margin-top: 16px;
    font-size: 17px;
    font-weight: 900;
    color: indianred;
}
.contact{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background: coral;
}
.wrapper{
    width: 780px;
    background: #fff;
    border-radius: 5px;
}
.wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}
.wrapper form{
  margin: 35px 30px;
}
form .dbl-field{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}
.dbl-field .field{
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);
}
.namePhone{
    margin-right: 20px;
}
form .field input,
form .message textarea{
    height: 100%;
    outline: none;
    font-size: 16px;
    padding: 0 10px 0 48px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}
form .field input{
    width: 290px;
}
form .message textarea{
    width: 95%;
    font-family: 'Lato', sans-serif;
    padding: 22px 0px 20px 35px;
}
form .field input::placeholder,
form .message textarea::placeholder{
    color: #bfbfbf;
}
form .message{
    position: relative;
}
form #messageId i{
    font-size: 20px;
    top: 30px;
}
form .field input:focus,
form .message textarea:focus{
   border: 2px solid #0D6EFD;  
}
form .field input:focus ~ i,
form .message textarea:focus ~i{
    color: #0D6EFD;
}
.button-area{
    margin: 25px 0px;
    display: flex;
    align-items: center;
}
.button-area button{
    font-size: 18px;
    padding: 13px 25px;
    border: none;
    background: #0D6EFD;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
.button-area span{
    margin-left: 30px;
}
form .message textarea{
   min-height: 120px;
   max-width: 90%;
   min-width: 60%;
   max-height: 200px;
   padding: 15px 20px 0px 48px;
}
.wrapper form i{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #bfbfbf;
    font-size: 16px;
    pointer-events: none;
    transform: translateY(-50%);
}


@media (max-width:952px) {
    #logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .titlesection{
        margin-top: 10%;
    }
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c2e50;
        top: 80px;
        text-align: center;
        left: -100%;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 10px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: -35%;
        top: 0%;
    }
}

@media (max-width: 700px) {
    #title {
        font-size: 25px;
    }
    #describtion {
        font-size: 12px;
    }
    .titlesection{
        margin-top: 25%;
    }
    .navsection{
        height: 500px;
    }
}

@media (max-width:370px) {
    #describtion {
        font-size: 9px;
    }
    #title {
        font-size: 20px;
    }
    .navsection{
        height: 450px;
    }
}